<!DOCTYPE html>
<html lang="en"  >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./resources/style.css" rel="stylesheet">
        <script src="./resources/spin.js"></script>
        <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox - Reset 2FA</title>
        <meta property="og:site_name" content="Vukkybox">
        <meta name="title" content="2FA">
        <meta name="description" content="Enable 2 factor authentication on Vukkybox.">
        <meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
      <%- include('common/navbar.ejs', {share: false, galleryShare: false, box: null}); %>
        <center class="py-8">
            <div id="codeVerification" class="<%= if(failure || successful) { return "hidden" } else { return "" } %>bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                <h1>To reset your Two-Factor Authentication, please verify your identity below.</h1>
                <br>
                <form id="verificationForm" action="https://vukkybox.com/2fareset" method="post">
                    <input type="hidden" name="_csrf" id="csrfToken" value="<%=csrfToken %>"/>
                    <label for="verificationInput">Input your 2FA code:</label>
                    <input type="text" style="color:black" placeholder="000000" name="verificationInput" id="verificationInput"/>
                    <input type="submit" class="button button-blue" value="Submit"/>
                </form>
                <br>
                <button class="button button-blue" onclick="recoverAuthenticator()">I've lost access to the authenticator</button>
            </div>
            <div id="emailRecovery" class="hidden bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                <h1>To reset your Two-Factor Authentication, you have been sent an email containing a code</h1>
                <br>
                <form id="emailVerifyForm">
                    <input type="hidden" name="_csrf" id="csrfToken" value="<%=csrfToken %>"/>
                    <label for="emailCodeInput">Input the verification code:</label>
                    <input type="text" style="color:black" placeholder="000000" name="emailCodeInput" id="emailCodeInput"/>
                    <small>If you did not receive the code, please check your spam folder.</small>
                    <input type="submit" class="button button-blue" value="Submit"/>
                </form>
            </div>
            <div id="loading" class="hidden bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                <span id="vukkyspinner"><br><br><img class="object-center" width="128" src="https://vukkybox.com/resources/pukkies/skelly.webp"></span>
            </div>
            <div id="failed" class="<%=if(failure) { return "" } else { return "hidden" } %> bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                <h1>Failed to reset 2FA, was the code incorrect?</h1>
                <span><br><br><img class="object-center" width="128" src="https://github.com/Vukkyy/vukmoji/blob/master/emojis/static/vukkyno.png?raw=true"></span>
                <br><br><a href="https://vukkybox.com/2fa"><button class="button button-blue">Try again</button></a>
            </div>
            <div id="success" class="<%=if(successful) { return "" } else { return "hidden" } %>hidden bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                <h1>2FA has been disabled on your account</h1>
                <span><br><br><img class="object-center" width="128" src="https://github.com/Vukkyy/vukmoji/blob/master/emojis/static/vukkyyes.png?raw=true"></span>
                <br><br><a href="https://vukkybox.com/2fa"><button class="button button-blue">Enable Two-Factor Authentication</button></a>
            </div>
        </center>
        <%- include('common/footer.ejs'); %>
	</body>
    <script>
        function recoverAuthenticator() {
            document.getElementById("codeVerification").classList.add("hidden");
            document.getElementById("emailRecovery").classList.remove("hidden");
            fetch("https://vukkybox.com/emailCode", {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({_csrf: document.getElementById("csrfToken").value})})
        }
        document.getElementById("emailVerifyForm").onsubmit = function(e) {
            e.preventDefault();
            document.getElementById("emailRecovery").classList.add("hidden");
            document.getElementById("loading").classList.remove("hidden");
            fetch("https://vukkybox.com/emailCheckCode", {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({otp: document.getElementById("emailCodeInput").value, _csrf: document.getElementById("csrfToken").value})})
            .then(res => res.json())
            .then(res => {
                if(!res.valid) {
                    document.getElementById("loading").classList.add("hidden");
                    document.getElementById("failed").classList.remove("hidden");
                } else {
                    document.getElementById("loading").classList.add("hidden");
                    document.getElementById("success").classList.remove("hidden");
                }
            });
        }
    </script>
</html>