<!DOCTYPE html>
<html lang="en"  >
<audio type="music" preload="auto" loop autoplay src="/resources/unboxcrusty.ogg"></audio>
<style>
    h1, h3 {
        color: gold;
    }
    #flashy {
        animation: blinkest 1s steps(5, start) infinite;
    }

    @keyframes blinkest {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
            visibility: hidden;
        }
    }
</style>
<body style="background-color: #333333;color:#00ff00;padding-left:50px;padding-top: 50px">
    <div id="sharecode" style="display: none;">
        <button id="sharecodebtn">Share Code</button><br><br>
        <button onclick="document.location.pathname = '/'">Return to Vukkybox</button><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <span id="flashy">
        <marquee><img src="/resources/devvukky.webp"></marquee>
    </span><h1>BOXSTEALER (CONFIDENTIAL!!!)</h1>
    <p>this service is to be used by the vukky black hat hacking organization ONLY!!!</p>
    <br>
    <h3>Inject Vukkybux Generator</h3>
    <form method="post" action="https://vukkybox.com/admin/create_code">
        <input type="text" name="code" placeholder="code" required/>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <input type="number" name="amount" placeholder="vukkybux" required>
        <input type="number" name="uses" placeholder="uses" min="0" required>
        <input type="submit" value="INJECT IT NOW!!"/>
    </form>
    <br>
    <h3>TellyScript</h3>
    <form method="post" action="https://vukkybox.com/admin/upload_file" encType="multipart/form-data">
        <input name="image" type="file" required accept="image/webp, image/png, image/jpeg"/><br>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <input type="radio" id="vukky" name="vukkytype" value="vukky" required>
        <label for="vukky">Vukky</label><br>
        <input type="radio" id="pukky" name="vukkytype" value="pukky" required>
        <label for="pukky">Pukky</label><br>
        <input type="radio" id="special" name="vukkytype" value="special" required>
        <label for="special">Special (skip any processing and place in resources)</label><br>
        <input type="submit" value="Execute"/>
    </form>
    <br>
    <h3>/summon vukky</h3>
    <form method="post" action="https://vukkybox.com/admin/create_vukky">
        <input id="vukkayname" type="text" name="name" placeholder="name" required/>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <input id="vukkaydesc" type="text" name="description" placeholder="description" required/>
        <input id="vukkayurl" type="text" name="url" placeholder="url" required/>
        <input id="vukkaylevel" type="text" name="level" placeholder="1-7 or pukky" required><br>
        <input id="vukkaycreator" type="text" name="creator" placeholder="creator name" required>
        Optional: 
        <input type="text" name="sfx" placeholder="full audio url (use tellyscript)">
        <input type="submit" value="Execute"/>
    </form>
    <br>
    <h3>wtv-setup:/accounts</h3>
    <form style="display: inline;" method="post" action="https://vukkybox.com/admin/set_balance">
        <input id="userid" type="text" name="userid" placeholder="_id" required=""><br>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <input type="radio" id="newbalanceswitch" name="action" value="newbalance" required=""> <label for="newbalanceswitch">Change balance</label> <input id="newbalance" type="float" name="newbalance" placeholder="New Balance" required="">
        <br><input type="radio" id="tradebanswitch" name="action" value="tradeban" required=""> <label for="tradebanswitch">Ban from trading (WILL BREAK IMPLEMENT LATER!!)</label>
        <br><input type="radio" id="deleteaccountswitch" name="action" value="deleteaccount" required=""> <label for="deleteaccountswitch">Delete account (ALSO NOT IMPLEMENTED ATM)</label>
        <br><input type="submit" value="Execute">
    </form><br>
    <br>
    <h3>Remote E-Mail Database Access</h3>
    <form method="post" action="https://vukkybox.com/admin/emails">
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <input type="submit" value="Execute"/>
    </form>
    <br>
    <h3>unTOS users</h3>
    <form method="post" action="https://vukkybox.com/admin/popup_reset">
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <input type="submit" value="Execute"/>
    </form>
    <br>
    <h3>Reset experimental change viewing before release program</h3>
    <form method="post" action="https://vukkybox.com/admin/beta_reset">
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <input type="submit" value="Execute"/>
    </form>
    <br>
    <a href="https://vukkybox.com/beta"><h3>Enter experimental change viewing before release program</h3></a>
    <br>
    <a href="https://vukkybox.com" style="color:#00ff00;">DONE HACKING FOR TODAY</a><br><br><small>ok, but actually, this is the admin panel for vukkybox admins. have a nice day, and how did you get here</small>
    <script>
        let params = new URL(document.location.href).searchParams;
        if(params.get("code") != null) {
            document.querySelector("#sharecode").style.display = "";
            document.querySelector("#sharecodebtn").onclick = function() {
                navigator.share({"title": "Vukkybox code", "url": `https://vukkybox.com/redeem/${params.get("code")}`});
            }
        }
        if(params.get("uploaded") != null) {
            document.querySelector("#vukkayurl").value = params.get("uploaded");
            if(params.get("uploaded").includes("/pukkies/")) {
                document.querySelector("#vukkaycreator").value = "do not touch this lol";
                document.querySelector("#vukkaylevel").value = "pukky";
                document.querySelector("#vukkayname").value = params.get("uploaded").split("/")[5].split(".")[0] + `'${!params.get("uploaded").split("/")[5].split(".")[0].endsWith("s") ? "s" : ""} Pukky`
                document.querySelector("#vukkaydesc").value = "This Pukky belongs to " + params.get("uploaded").split("/")[5].split(".")[0]
            }
        }
    </script>
</body>