<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <script src="./resources/spin.js"></script>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox</title>
    <meta name="title" content="Vukkybox - Vukkybux Info">
    <meta name="description" content="Learn more about how Vukkybux work.">
    <meta property="og:image" content="https://vukkybox.com/resources/icon.png">
    <link rel="preload" href="/resources/nobalance.wav" as="audio">
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    <audio src="/resources/nobalance.wav"></audio>
 <div class="bg-opacity-10  bg-gray-100 w-full">
    <nav class="flex justify-between">
        <div class="inline-flex">
            <a href="/"><img id="icon" src="resources/icon.png" class="max-h-20 m-2" /></a>
            <% if(username != "") { %>
              <p class="m-auto text-2xl text-bold"><%=user.balance %> Vukkybux</p>
            <% } %>
        </div>
        <ul class="flex flex-row p-10">
            <!-- <li class="pr-5"><a> Services </a></li>
            <li class="pr-5"><a>Porfolio</a></li>
            <li class="pr-5"><a>About</a></li> -->
            <li class="pr-10"><a href="/store">Storefront</a></li>
            <% if(username != "") { %>
              <div class="dropdown">
                
                <li class="pr-5"><a><%= username%></a></li>
                <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                <div class="dropdown-content text-white">
                  <a class="text-white" href="profile">Profile</a>
                  <a class="text-white" href="gallery">Collection</a>
                  <a class="text-white" href="logout">Log Out</a>
                </div>
              </div>
            <% } else {%>
                <li><a href="/login">Log In</a></li>
            <% } %>
              
        </ul>
    </nav>
</div>

<div id="welcome" class="p-5">
<h1 id="pooruser" class="hidden text-3xl">Oh no, you've run out of Vukkybux!</p>
<h2 class="text-2xl">How do I get more Vukkybux?</h1>
<ul class="list-disc list-inside">
  <li>Logging in every hour for 150 Vukkybux</li>
  <li>Logging in every day for 750 Vukkybux</li>
  <li>Redeeming promo codes</li>
  <li>Trading for Vukkybux below</li>
</ul>
<h2 class="text-2xl pt-8">How long until I get my Vukkybux?</h1>
<% if(username != "") { %>
  <ul class="list-disc list-inside">
    <li>Hourly: Log in after <span id="hourlyTime">LOADING</span></li>
    <li>Daily: Log in after <span id="dailyTime">LOADING</span></li>
  </ul>
<% } else {%> 
  You need to sign in first.
<% } %>
<h2 class="text-2xl pt-8">Trading for Vukkybux</h1>
If you need Vukkybux now, you can trade with us and get Vukkybux using these methods:
<ul class="list-disc list-inside">
  <li>Supporting OMG.LOL by purchasing a domain for 7,500 Vukkybux</li>
  <li>Cryptocurrency</li>
  <li>Digital Tokens for Prepaid Visa Cards from Prepaid Digital Solutions (like the ones from Salad.com)</li>
</ul>
To trade with us and for more information, please join <a href="https://discord.gg/mmhPScCZH4" class="text-blue-300">our Discord server</a>, then contact someone with the "LIT Dev" role.
</div>

</body>
<script>
  const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	if(urlParams.has('poor')) {
		document.querySelector("#pooruser").classList.remove("hidden")
		document.querySelector("audio").play()
	}
  <% if(username != "") { %>
    let loginHourly = new Date('<%= loginHourly %>');
    let loginDaily = new Date('<%= loginDaily %>');
    loginDaily.setDate(loginDaily.getDate() + 1);
    loginHourly.setHours(loginHourly.getHours() + 1);
    document.querySelector("#hourlyTime").innerHTML = loginHourly.toLocaleString();
    document.querySelector("#dailyTime").innerHTML = loginDaily.toLocaleString();
  <% } %> 
</script>

</html>
