<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <script src="./resources/spin.js"></script>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox - Vukkybux Info</title>
    <meta property="og:site_name" content="Vukkybox">
    <meta name="title" content="Vukkybux Information">
    <meta name="description" content="Learn more about how Vukkybux work.">
    <meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
    <link rel="preload" href="/resources/nobalance.wav" as="audio">
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    <audio type="sfx" id="sadfalgus" src="/resources/nobalance.wav"></audio>
    <audio type="music" loop id="banger" src="/resources/menumusic.ogg"></audio>
    <%- include('common/navbar.ejs', {share: false, galleryShare: false}); %>

<div id="welcome" class="p-5">
<h1 id="pooruser" class="hidden text-3xl">Oh no, you've run out of Vukkybux!</h1>
<h2 class="text-2xl">How do I get more Vukkybux?</h2>
<ul class="list-disc list-inside">
  <li>Logging in every hour for 150 Vukkybux</li>
  <li>Logging in every day for 750 Vukkybux</li>
  <li>Redeeming promo codes</li>
</ul>
<h2 class="text-2xl pt-8">How long until I get my Vukkybux?</h2>
<% if(user) { %>
  <ul class="list-disc list-inside">
    <li>Hourly: Log in after <span id="hourlyTime">LOADING</span></li>
    <li>Daily: Log in after <span id="dailyTime">LOADING</span></li>
  </ul>
<% } else {%> 
  You need to sign in first.
<% } %>
<h2 class="text-2xl pt-8">Mining for Vukkybux</h2>
  If you want to support this wacky little service so we can keep it running without going bankrupt, thank you so much!<br>
  In case you have a good enough GPU to mine "Ethereum" or "Ravencoin", you can mine them for us using the instructions below.<br><br>
  <% if(user) { %>
    <p>To mine for Vukkybux, you must mine Ethereum on the <a class="text-blue-500" href="https://ethermine.org">Ethermine pool</a> or Ravencoin on <a class="text-blue-500" href="https://ravencoin.flypool.org/">Flypool</a>.<br><b>WARNING! MINING HERE WILL BROADCAST YOUR VUKKYBOX USERNAME IN OUR DISCORD SERVER. CHANGE YOUR USERNAME <a class="text-blue-500" href="/editProfile">HERE</a>.</b><br>You should set the wallet and worker name as follows:</p><br>
    <h2 class="text-xl">Ethereum mining</h2>
    <p>Wallet: 0x7DBc369Ca89A706edCeD47207A806139fb7462e4</p>
    <p>Worker: <%=user._id %></p>
    <br>
    <p>Alternatively you can use <a href="https://github.com/LITdevs/SaladBind#readme">SaladBind</a> with the following settings:</p>
    Algorithm: ethash<br>
    Pool: Ethermine (any region)<br> 
    Advanced commands for NBMiner/TeamRedMiner: -u 0x7DBc369Ca89A706edCeD47207A806139fb7462e4.<%=user._id %><br>
    Advanced commands for T-Rex: -u 0x7DBc369Ca89A706edCeD47207A806139fb7462e4.<%=user._id %> -w <%=user._id %><br><br>
    You'll get your Vukkybux automatically when we get your Ethereum, which can take up to 30-45 minutes, you will be compensated for this duration after you stop mining.
    You can see the dashboard <a class="text-blue-500" href="https://ethermine.org/miners/0x7DBc369Ca89A706edCeD47207A806139fb7462e4/dashboard">here</a>.
    <br><br>
    <h2 class="text-xl">Ravencoin mining</h2>
    <p>Wallet: RSEWKvswFjzvofZuaRqBPRQes3dr4eNTfT</p>
    <p>Worker: <%=RVNid %></p>
    <br>
    <p>Alternatively you can use <a href="https://github.com/LITdevs/SaladBind#readme">SaladBind</a> with the following settings:</p>
    Algorithm: kawpow<br> 
    Pool: Any, we override this in the advanced commands<br>
    Advanced commands for NBMiner/TeamRedMiner: -o stratum://stratum-ravencoin.flypool.org:3333 -u RSEWKvswFjzvofZuaRqBPRQes3dr4eNTfT.<%=RVNid %><br>
    Advanced commands for T-Rex: -o stratum://stratum-ravencoin.flypool.org:3333 -u RSEWKvswFjzvofZuaRqBPRQes3dr4eNTfT.<%=RVNid %> -w <%=RVNid %><br><br>
    You'll get your Vukkybux automatically when we get your Ravencoin, which can take up to 30-45 minutes, you will be compensated for this duration after you stop mining.
    You can see the dashboard <a class="text-blue-500" href="https://ravencoin.flypool.org/miners/RSEWKvswFjzvofZuaRqBPRQes3dr4eNTfT/dashboard">here</a>.
    <% } else {%> 
    You need to sign in, so we can show you your Worker ID.
  <% } %>
<h2 class="text-2xl pt-8">Okay, but how much money do you have.</h2>
That's a fair question! The money we've made is <a href="https://litdevs.org/finances" class="text-blue-500">public</a>, so feel free to take a look.
</div>

</body>
<script>
  const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
  const poors = ["You tried your best, but couldn't resist.", "Oh no, you've run out of Vukkybux!", "Well, there goes that money.", "Try again later, maybe? :D", "Oops...", "Aww...", "Okay, that's enough.", '"Can I have some more?"', "vukkybux = 0;"]
	if(urlParams.has('poor')) {
    document.querySelector("#pooruser").innerHTML = poors[Math.floor(Math.random()*poors.length)];
		document.querySelector("#pooruser").classList.remove("hidden")
		document.querySelector("#sadfalgus").play()
    setTimeout(() => {
      document.querySelector("#banger").play()
    }, 710);
	} else {
    document.querySelector("#banger").play()
  }
  <% if(user) { %>
    let loginHourly = new Date('<%= loginHourly %>');
    let loginDaily = new Date('<%= loginDaily %>');
    loginDaily.setDate(loginDaily.getDate() + 1);
    loginHourly.setHours(loginHourly.getHours() + 1);
    document.querySelector("#hourlyTime").innerHTML = loginHourly.toLocaleString();
    document.querySelector("#dailyTime").innerHTML = loginDaily.toLocaleString();
  <% } %> 
</script>

</html>
