<!DOCTYPE html>
<html lang="en"  >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://vukkybox.com/resources/style.css" rel="stylesheet">
        <script src="https://vukkybox.com/resources/spin.js"></script>
        <link rel="icon" href="https://vukkybox.com/resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox - Buy Box</title>
        <link rel="preload" href="/resources/unboxspinning.ogg" as="audio">
        <link rel="preload" href="/resources/tada.ogg" as="audio">
        <link rel="preload" href="/resources/purchase.wav" as="audio">
        <link rel="preload" href="https://vukkybox.com/resources/<%=boxType %>vukkybox.webp" as="image">
        <link rel="preload" href="<%=prize.box.vukky.url %>" as="image">
        <style>
            #share:hover {
                cursor: pointer
            }
        </style>
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    <audio type="sfx" autoplay id="unboxSpinSfx" src="/resources/unboxspinning.ogg"></audio>
    <audio type="sfx" id="unboxSfx" src="/resources/unbox.wav"></audio>
    <audio type="sfx" id="unboxAllSfx" src="/resources/tada.ogg"></audio>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
        
 <div class="bg-opacity-10  bg-gray-100 w-full">
        <nav class="flex justify-between">
            <div class="inline-flex">
                <a href="/"><img id="icon" src="https://vukkybox.com/resources/icons/512.png" class="max-h-20 m-2" /></a>
                <% if(username != "") { %>
                  <p class="m-auto text-2xl text-bold" id="balance"><%=oldBalance %> Vukkybux</p>
                <% } %>
            </div>
            <ul class="flex flex-row p-10">
                <!-- <li class="pr-5"><a> Services </a></li>
                <li class="pr-5"><a>Porfolio</a></li>
                <li class="pr-5"><a>About</a></li> -->
                <li class="pr-10"><span id="share" class="hidden" onclick="shareDrop()">Share your pull!</a></li>
                <% if(username != "") { %>
                  <div class="dropdown">
                    
                    <li class="pr-5"><a><%= username%></a></li>
                    <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                    <div class="dropdown-content text-white">
                      <a class="text-white" href="https://vukkybox.com/profile">Profile</a>
                      <a class="text-white" href="https://vukkybox.com/gallery">Collection</a>
                      <a class="text-white" href="#" id="redeemCode">Redeem Code</a>
                      <a class="text-white" href="https://vukkybox.com/logout">Log Out</a>
                    </div>
                  </div>
                <% } else {%>
                    <li><a href="https://vukkybox.com/login">Log In</a></li>
                <% } %>
                  
            </ul>
        </nav>
    </div>
        <center class="py-8">
            <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                <div class="hidden reward" id="reward">
                    <img class="m-auto" height="128" src="<%=prize.box.vukky.url %>"/>
                    <p><%=prize.box.vukky.name %> (#<%=prize.box.vukkyId %>)</p>
                    <% if(parseInt(prize.box.level.level) == 8) { %>
                    <p style="color:<%=prize.box.level.color %>;"><%=prize.box.level.name %></p>
                    <% } else { %>
                    <p style="color:<%=prize.box.level.color %>;"><%=prize.box.level.name %> (<%=prize.box.level.level %> star)</p>
                    <% } %>
                    <p><%=prize.box.vukky.description %></p>
                    <p class="text-red-500"><%if (dupe) { %><br>...oh, but you already have <%=prize.box.vukky.name %>...<br> You have gotten it <span style="border-bottom: 1px dotted; cursor: help;" title="Only Vukkies collected on and after December 12, 2021 are counted."><%=parseInt(dupe) + 1 %></span> times by now. :( <% } %></p>
                    <br>
                    <button class="button button-blue purchase" id="buyButton" onclick="document.getElementById('buyButton').disabled = true;setTimeout(() => {window.location.reload()}, localStorage.getItem('kachingOn') != 'false' ? 1000 : 0);">Buy another one</button>
                    <a href="/store"><button class="py-5 button button-blue">Return to the storefront</button></a>
                </div>
                <div class="opener" id="opener">
                    <img id="openingicon" src="https://vukkybox.com/resources/<%=boxType %>vukkybox.webp" class="max-h-48 m-auto" />
                </div>
            </div>
        </center>
	</body>
    <script type="text/javascript">
    function shareDrop() {
        if(localStorage.getItem('shareMenu') != 'false' && navigator.share) {
            <% if(parseInt(prize.box.level.level) == 8) { %>
            navigator.share({'title': `<%=prize.box.vukky.name %> on Vukkybox!`, 'url': 'https:/\/vukkybox.com/view/pukky/<%=prize.box.vukkyId %>'});
            <% } else { %>
            navigator.share({'title': `<%=prize.box.vukky.name %> on Vukkybox!`, 'url': 'https:/\/vukkybox.com/view/<%=prize.box.level.level %>/<%=prize.box.vukkyId %>'});
            <% } %>
        } else {
            <% if(parseInt(prize.box.level.level) == 8) { %>
            navigator.clipboard.writeText("https:/\/vukkybox.com/view/pukky/<%=prize.box.vukkyId %>").then(function() {
                alert("Copied to clipboard!");
            });
            <% } else { %>
            navigator.clipboard.writeText("https:/\/vukkybox.com/view/<%=prize.box.level.level %>/<%=prize.box.vukkyId %>").then(function() {
                alert("Copied to clipboard!");
            });
            <% } %>
        }
    }
    var rarity = <%=prize.box.level.level %>;
    const rarityName = "<%=prize.box.level.name %>";
    if(rarity == 8) rarity = 3;
	const vukkyID = <%=prize.box.vukkyId %>;
	const boxName = "<%=boxType %>";
    const vukkyAudio = false 
    <% if(prize.box.vukky.audio) { %>
        const vukkyAudio = <%=prize.box.vukky.audio %>
    <% } %>
    const noAnim = !window.matchMedia("(prefers-reduced-motion: reduce)") || window.matchMedia("(prefers-reduced-motion: reduce)").matches
        let rotation = (0.285714286 + (Math.random() / 2.5)) * rarity;
        let newBalance = <%=user.balance %>;
        let spinner;
        if(!noAnim) {
            spinner = setInterval(function() {
                document.getElementById("openingicon").style.transform = `rotate(${rotation}deg)`;
                rotation = rotation * 1.12
            }, 10);
            setTimeout(function() {
                clearInterval(spinner);
                spinner = setInterval(function() {
                    document.getElementById("openingicon").style.transform = `rotate(${rotation}deg)`;
                    rotation = rotation * 0.92
                    if(rotation > 10000) rotation = 10000
                }, 10);
            }, 300 * rarity);
        }
        setTimeout(function() {
            document.querySelector("#unboxSpinSfx").pause();
            let icon = document.getElementById("openingicon")
            clearInterval(spinner);
            if(!noAnim) icon.classList.add("animate-ping");
            setTimeout(() => {
                if(!noAnim) icon.classList.remove("animate-ping");
                icon.style.display = "none";
                if(rarity >= 6) document.querySelector("#unboxSfx").src = "/resources/unboxrare.wav"
                if(rarity == 7) document.querySelector("#unboxSfx").src = "/resources/unboxunique.wav"
                if(rarity <= 2) document.querySelector("#unboxSfx").src = "/resources/unboxcommon.wav"
	            if(vukkyAudio) document.querySelector("#unboxSfx").src = vukkyAudio
		        <%if (dupe) { %>document.querySelector("#unboxSfx").playbackRate = 2<% } %>
                document.querySelector("#unboxSfx").play();
                document.querySelector("#share").classList.remove("hidden");
                document.getElementById("reward").classList.remove("hidden")
                document.getElementById("opener").classList.add("hidden")
                document.getElementById("balance").innerHTML = `${newBalance} Vukkybux`;
                if(rarity == 7) {
                    document.querySelector("#unboxAllSfx").play();
                    confetti();
                }
                <% if(fullUnlock) { %>
                    alert(`You have collected all the ${rarity != 8 ? `${rarityName} Vukkies!` : "Pukkies!"}`)
                    document.querySelector("#unboxAllSfx").play();
                    confetti();
                <% } %>
            }, 200);
        }, 600 * rarity);


    </script>
</html>
