<html class="home bg-gray-800">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://vukkybox.com/resources/style.css" rel="stylesheet">
        <script src="https://vukkybox.com/resources/spin.js"></script>
        <link rel="icon" href="https://vukkybox.com/resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox</title>
        <link rel="preload" href="/resources/unbox.wav" as="audio">
        <link rel="preload" href="/resources/unboxcommon.wav" as="audio">
        <link rel="preload" href="/resources/unboxrare.wav" as="audio">
        <link rel="preload" href="/resources/unboxunique.wav" as="audio">
        <link rel="preload" href="https://vukkybox.com/resources/<%=boxType %>vukkybox.png" as="image">
        <link rel="preload" href="<%=prize.box.vukky.url %>" as="image">
        <style>
            #share:hover {
                cursor: pointer
            }
        </style>
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    <audio src="/resources/unbox.wav"></audio>
        
 <div class="bg-opacity-10  bg-gray-100 w-full">
        <nav class="flex justify-between">
            <div class="inline-flex">
                <a href="/"><img id="icon" src="https://vukkybox.com/resources/icon.png" class="max-h-20 m-2" /></a>
                <% if(username != "") { %>
                  <p class="m-auto text-2xl text-bold" id="balance"><%=oldBalance %> Vukkybux</p>
                <% } %>
            </div>
            <ul class="flex flex-row p-10">
                <!-- <li class="pr-5"><a> Services </a></li>
                <li class="pr-5"><a>Porfolio</a></li>
                <li class="pr-5"><a>About</a></li> -->
                <% if(parseInt(prize.box.level.level) == 8) { %>
                <li class="pr-10"><span id="share" class="hidden" onclick="navigator.clipboard.writeText(`https:/\/vukkybox.com/view/pukky/<%=prize.box.vukkyId %>`);alert('Copied share link to clipboard')">Share your drop!</a></li>
                <% } else { %>
                <li class="pr-10"><span id="share" class="hidden" onclick="navigator.clipboard.writeText(`https:/\/vukkybox.com/view/<%=prize.box.level.level %>/<%=prize.box.vukkyId %>`);alert('Copied share link to clipboard')">Share your drop!</a></li>
                <% } %>
                <% if(username != "") { %>
                  <div class="dropdown">
                    
                    <li class="pr-5"><a><%= username%></a></li>
                    <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                    <div class="dropdown-content text-white">
                      <a class="text-white" href="https://vukkybox.com/profile">Profile</a>
                      <a class="text-white" href="https://vukkybox.com/gallery">Collection</a>
                      <a class="text-white" href="https://vukkybox.com/logout">Log Out</a>
                    </div>
                  </div>
                <% } else {%>
                    <li><a href="https://vukkybox.com/login">Log In</a></li>
                <% } %>
                  
            </ul>
        </nav>
    </div>
        <center class="py-8">
            <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                <div class="hidden reward" id="reward">
                    <img class="m-auto" width="128" height="128" src="<%=prize.box.vukky.url %>"/>
                    <p><%=prize.box.vukky.name %> (#<%=prize.box.vukkyId %>)</p>
                    <% if(parseInt(prize.box.level.level) == 8) { %>
                    <p style="color:<%=prize.box.level.color %>;"><%=prize.box.level.name %></p>
                    <% } else { %>
                    <p style="color:<%=prize.box.level.color %>;"><%=prize.box.level.name %> (<%=prize.box.level.level %> star)</p>
                    <% } %>
                    <p><%=prize.box.vukky.description %></p>
                    <p class="text-red-500"><%if (dupe) { %><br>Sorry, but you already have this Vukky. You have been refunded 10%.<% } %></p>
                    <br>
                    <button class="button button-blue" onclick="window.location.reload()">Buy another one</button>
                    <a href="/store"><button class="py-5 button button-blue">Return to the storefront</button></a>
                </div>
                <div class="opener" id="opener">
                    <img id="openingicon" src="https://vukkybox.com/resources/<%=boxType %>vukkybox.png" class="max-h-48 m-auto" />
                </div>
            </div>
        </center>
	</body>
    <script type="text/javascript">
        const rarity = <%=prize.box.level.level %>;
	const boxName = <%=prize.box.level.name %>;
        let rotation = (0.285714286 + (Math.random() / 3)) * rarity;
        let newBalance = <%=user.balance %>;
        let spinner = setInterval(function() {
            document.getElementById("openingicon").style.transform = `rotate(${rotation}deg)`;
            rotation = rotation * 1.12
        }, 10);
        
        setTimeout(function() {
            clearInterval(spinner);
            spinner = setInterval(function() {
                document.getElementById("openingicon").style.transform = `rotate(${rotation}deg)`;
                rotation = rotation * 0.92
                if(rotation > 10000) rotation = 10000
            }, 10);
        }, 300 * rarity);
        setTimeout(function() {
            let icon = document.getElementById("openingicon")
            clearInterval(spinner);
            icon.classList.add("animate-ping");
            setTimeout(() => {
                icon.classList.remove("animate-ping");
                icon.style.display = "none";
                if(rarity >= 6) document.querySelector("audio").src = "/resources/unboxrare.wav"
                if(rarity == 7) document.querySelector("audio").src = "/resources/unboxunique.wav"
                if(rarity <= 2) document.querySelector("audio").src = "/resources/unboxcommon.wav"
                if(rarity == 8) document.querySelector("audio").src = "/resources/unbox.wav"
                document.querySelector("audio").play();
		if(boxName == "warped") document.querySelector("#reward img").style.filter = "invert(100%)"
                document.querySelector("#share").classList.remove("hidden");
                document.getElementById("reward").classList.remove("hidden")
                document.getElementById("opener").classList.add("hidden")
                document.getElementById("balance").innerHTML = `${newBalance} Vukkybux`;
                <% if(fullUnlock) { %>
                    alert("You have unlocked all " + rarity != 8 ? rarity + " star Vukkies!" : "Pukkies!")
                <% } %>
            }, 200);
        }, 600 * rarity);


    </script>
</html>
