<html class="home bg-gray-800">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://vukkybox.com/resources/style.css" rel="stylesheet">
        <script src="https://vukkybox.com/resources/spin.js"></script>
        <link rel="icon" href="https://vukkybox.com/resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox</title>
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
        
 <div class="bg-opacity-10  bg-gray-100 w-full">
        <nav class="flex justify-between">
            <div class="inline-flex">
                <a href="/"><img id="icon" src="https://vukkybox.com/resources/icon.png" class="max-h-20 m-2" /></a>
                <% if(username != "") { %>
                  <p class="m-auto text-2xl text-bold">Balance: <%=user.balance %></p>
                <% } %>
            </div>
            <ul class="flex flex-row p-10">
                <!-- <li class="pr-5"><a> Services </a></li>
                <li class="pr-5"><a>Porfolio</a></li>
                <li class="pr-5"><a>About</a></li> -->
                <% if(username != "") { %>
                  <div class="dropdown">
                    
                    <li class="pr-5"><a><%= username%></a></li>
                    <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                    <div class="dropdown-content text-white">
                      <a class="text-white" href="https://vukkybox.com/profile">Profile</a>
                      <a class="text-white" href="https://vukkybox.com/logout">Log Out</a>
                    </div>
                  </div>
                <% } else {%>
                    <li><a href="https://vukkybox.com/login">Log In</a></li>
                <% } %>
                  
            </ul>
        </nav>
    </div>
        <center>
            <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 w-1/3 px-10 align-middle text-center justify-center">
                
                <img class="m-auto" src="<%=prize.box.vukky.url %>"/>
                <p><%=prize.box.vukky.name %> (#<%=prize.box.vukkyId %>)</p>
                <p style="color:<%=prize.box.level.color %>;"><%=prize.box.level.name %> (<%=prize.box.level.level %> star)</p>
                <p><%=prize.box.vukky.description %></p>
            </div>
        </center>
	</body>
</html>
