<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <script src="./resources/spin.js"></script>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox - Credits</title>
    <meta property="og:site_name" content="Vukkybox">
    <meta name="title" content="Credits">
    <meta name="description" content="Want to know who helped with Vukkybox? Here you go!">
    <meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
    <audio type="music" preload="auto" loop playOnLoad="true" src="/resources/credits.ogg"></audio>
    <audio type="sfx" id="selectSfx" preload="auto" src="/resources/select.flac"></audio>
    <style>
      #titles {
        position: absolute;
        width: 18em;
        height: 50em;
        bottom: 0;
        left: 50%;
        margin-left: -9em;
        font-size: 350%;
        font-weight: bold;
        text-align: justify;
        overflow: hidden;
        transform-origin: 50% 100%;
        transform: perspective(300px) rotateX(25deg);
      }

      h2 {
        font-size: 200%;
      }

      #titles:after {
        position: absolute;
        content: ' ';
        left: 0;
        right: 0;
        top: 0;
        bottom: 60%;
        background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
        pointer-events: none;
      }

      #titlecontent {
        position: absolute;
        top: 100%;
        animation: scroll 200s linear 4s infinite;
      }

      @keyframes scroll {
        0% { transform: translateY(0%); }
        100% { transform: translateY(-150%); }
      }
    </style>
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
<%- include('common/navbar.ejs', {share: false, galleryShare: false, box: null}); %>
<div class="p-5" id="titles">
  <div id="titlecontent">
    <img src="https://vukkybox.com/resources/icons/192.png"> Vukkybox <%-vboxVer%> (<%-gitHash%>)
    <h2>Vukky creators</h2>
    <ul id="vkyc" class="list-disc list-inside"><li>Loading...</li></ul>
    Pukkies are made by Pukky Drawers, which include:
    <ul class="list-disc list-inside">
      <li>Alespic</li>
      <li>Smokey</li>
      <li>Xotic</li>
      <li>Elongated musk rat</a></li>
      <li>Vukky</li>
      <li>Skelly</li>
      <li>Sydney</li>
    </ul>
    <h2 class="pt-8">Music composers</h2>
    <ul class="list-disc list-inside">
    <li>Gallery loading music: <a href="https://freesound.org/people/Sirkoto51/sounds/360608/" class="text-blue-500">"Loading... (Loop)" by Sirkoto51</a></li>
    <li>Gallery music: <a href="https://freesound.org/people/axtoncrolley/sounds/172707/" class="text-blue-500">"Nodens (Field Song)" by axtoncrolley</a></li>
    <li>Gallery music (complete): <a href="https://freesound.org/people/SieuAmThanh/sounds/545249/" class="text-blue-500">"Nhiệm Vụ Hoàn Thành" by SieuAmThanh</a></li>
    <li>Storefront music: <a href="https://freesound.org/people/kbrecordzz/sounds/595844/" class="text-blue-500">"cute melody" by kbrecordzz</a></li>
    <li>Login music: <a href="https://freesound.org/people/code_box/sounds/520853/" class="text-blue-500">"Nothing is Happening" by code_box</a></li>
    <li>Homepage music: <a href="https://freesound.org/people/fmceretta/sounds/426701/" class="text-blue-500">"Racing game menu music - while buying fancy cars we will never have!" by fmceretta</a></li>
    <li>Credits music (you're listening to it!): <a href="https://freesound.org/people/evanjones4/sounds/411645/" class="text-blue-500">"dinglebells" by evanjones4</a></li>
    <li>Leaderboard music: <a href="https://freesound.org/people/SkibkaMusic/sounds/361139/" class="text-blue-500">"Shine 1 (loop)" by SkibkaMusic</a></li>
    </ul>
    <h2 class="pt-8">Open source software</h2>
    Thank you to <a href="https://www.sitepoint.com/css3-starwars-scrolling-text/" class="text-blue-500">this silly little Star Wars scrolling text tutorial</a>.<br>
    Anyway, Vukkybox uses the following NPM packages:<br>
    <ul id="deps" class="list-disc list-inside"><li>Loading...</li></ul>
    And also these packages we use during development:<br>
    <ul id="ddeps" class="list-disc list-inside"><li>Loading...</li></ul>
    <h2 class="pt-8">Special thanks</h2>
    <ul class="list-disc list-inside">
    <li>Skelly</li>
    <li>Synne</li>
    <li>AnnoyingRains#3325</li>
    <li>SharkOfGod</li>
    <% if(user) { %>
      <li><%= user.username %> (hey, that's you!)</li>
    <% } else {%>
      <li>You!</li>
    <% } %>
    </ul><br>
    Vukkybox is a service by LIT Devs.
    <br>
    <br>
    <a href="/beta"><img src="/resources/vukkysgoodbye.webp"></a>
  </div>
</div>
<%- include('common/footer.ejs'); %>
</body>
<script>
  const devDeps = <%-JSON.stringify(ddeps)%>
  const normalDeps = <%-JSON.stringify(deps)%>
  const vukkyCreatorData = <%-JSON.stringify(vukkyCreatorData)%>
  document.querySelector("#deps").innerHTML = "";
  document.querySelector("#ddeps").innerHTML = "";
  document.querySelector("#vkyc").innerHTML = "";
  Object.entries(normalDeps).forEach(function(deppy) {
    document.querySelector("#deps").innerHTML += `<li><a href="https://npmjs.com/${deppy[0]}" class="text-blue-500" target="_blank">${deppy[0]}</a> ${deppy[1].split("^")[1]}</li>`
  })
  Object.entries(devDeps).forEach(function(deppy) {
    document.querySelector("#ddeps").innerHTML += `<li><a href="https://npmjs.com/${deppy[0]}" class="text-blue-500" target="_blank">${deppy[0]}</a> ${deppy[1].split("^")[1]}</li>`
  })
  vukkyCreatorData.forEach(function(vukkyCreator) {
	  document.querySelector("#vkyc").innerHTML += `<li>${vukkyCreator[0]} <span style="font-size: 50%;">(${vukkyCreator[1].length}: ${vukkyCreator[1].sort((a, b) => a.split("/")[1] - b.split("/")[1]).map(el => `<a href="https://vukkybox.com/view/${el}" class="text-blue-500">#` + el.split("/")[1] + "</a>").join(", ")})</span></li>`
  })
</script>
</html>
