<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <script src="./resources/spin.js"></script>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox - Credits</title>
    <meta name="title" content="Vukkybox - Credits">
    <meta name="description" content="Want to know who helped with Vukkybox? Here you go!">
    <meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
    <audio type="music" preload="auto" loop autoplay src="/resources/menumusic.ogg"></audio>
    <audio type="sfx" id="selectSfx" preload="auto" src="/resources/select.flac"></audio>
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
 <div class="bg-opacity-10  bg-gray-100 w-full">
    <nav class="flex justify-between">
        <div class="inline-flex">
            <a href="/"><img id="icon" src="resources/icons/512.png" class="max-h-20 m-2" /></a>
            <% if(username != "") { %>
              <p class="m-auto text-2xl text-bold"><%=user.balance %> Vukkybux</p>
            <% } %>
        </div>
        <ul class="flex flex-row p-10">
            <!-- <li class="pr-5"><a> Services </a></li>
            <li class="pr-5"><a>Porfolio</a></li>
            <li class="pr-5"><a>About</a></li> -->
            <li class="pr-10"><a href="/store">Storefront</a></li>
            <% if(username != "") { %>
              <div class="dropdown">
                
                <li class="pr-5"><a><%= username%></a></li>
                <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                <div class="dropdown-content text-white">
                  <a class="text-white" href="profile">Profile</a>
                  <a class="text-white" href="gallery">Collection</a>
                  <a class="text-white" href="#" id="redeemCode">Redeem Code</a>
                  <a class="text-white" href="logout">Log Out</a>
                </div>
              </div>
            <% } else {%>
                <li><a href="/login">Log In</a></li>
            <% } %>
              
        </ul>
    </nav>
</div>
<div class="p-5">
    <i>credits roll</i>
    <h2 class="text-2xl">Music composers</h1>
    <ul class="list-disc list-inside">
    <li>Gallery loading music: <a href="https://freesound.org/people/Sirkoto51/sounds/360608/" class="text-blue-500">"Loading... (Loop)" by Sirkoto51</a></li>
    <li>Gallery music: <a href="https://freesound.org/people/axtoncrolley/sounds/172707/" class="text-blue-500">"Nodens (Field Song)" by axtoncrolley</a></li>
    <li>Gallery music (complete): <a href="https://freesound.org/people/SieuAmThanh/sounds/545249/" class="text-blue-500">"Nhiệm Vụ Hoàn Thành" by SieuAmThanh</a></li>
    <li>Storefront music: <a href="https://freesound.org/people/kbrecordzz/sounds/595844/" class="text-blue-500">"cute melody" by kbrecordzz</a></li>
    <li>Login music: <a href="https://freesound.org/people/code_box/sounds/520853/" class="text-blue-500">"Nothing is Happening" by code_box</a></li>
    <li>Homepage music: <a href="https://freesound.org/people/fmceretta/sounds/426701/" class="text-blue-500">"Racing game menu music - while buying fancy cars we will never have!" by fmceretta</a></li>
    </ul>
    <h2 class="text-2xl pt-8">Vukky creators</h2>
    These are credited in the Vukky's description. If a creator is not specified, it is either by Vukky or Skelly.<br>
    Pukkies are made by Pukky Drawers, which include:
    <ul class="list-disc list-inside">
      <li>Alespic</li>
      <li>Smokey</li>
      <li>Xotic</li>
      <li>Elongated musk rat</a></li>
      <li>Vukky</li>
      <li>Skelly</li>
    </ul>
    <h2 class="text-2xl pt-8">Open source software</h2>
    Vukkybox uses the following NPM packages:<br>
    <button class="button button-blue" onclick="document.querySelector('#selectSfx').play(); document.querySelector('#deps').classList.remove('hidden'); this.classList = ['hidden']">Click to view</button>
    <ul id="deps" class="list-disc list-inside hidden"><li>Loading...</li></ul>
</div>
</body>
<script>
  const devDeps = <%-JSON.stringify(ddeps)%>
  const normalDeps = <%-JSON.stringify(deps)%>
  document.querySelector("#deps").innerHTML = "";
  Object.entries(normalDeps).forEach(function(deppy) {
    document.querySelector("#deps").innerHTML += `<li><a href="https://npmjs.com/${deppy[0]}" class="text-blue-500" target="_blank">${deppy[0]}</a> ${deppy[1].split("^")[1]}</li>`
  })
  Object.entries(devDeps).forEach(function(deppy) {
    document.querySelector("#deps").innerHTML += `<li><a href="https://npmjs.com/${deppy[0]}" class="text-blue-500" target="_blank">${deppy[0]}</a> ${deppy[1].split("^")[1]}</li>`
  })
</script>
</html>
