<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vukkybox.com/resources/style.css" rel="stylesheet">
    <script src="https://vukkybox.com/resources/spin.js"></script>
    <link rel="icon" href="https://vukkybox.com/resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox - Collection</title>
    <meta name="title" content="Vukkybox Collections">
    <meta name="description" content="View the Vukky collection of <%= username%>!">
    <meta property="og:image" content="https://vukkybox.com/resources/icon.png">
    <link rel="preload" href="https://vukkybox.com/resources/pukkies/skelly.gif" as="image">
    <style>
        #share:hover {
            cursor: pointer
        }
    </style>
    <audio id="loadingMusic" preload="auto" loop src="/resources/loading.ogg"></audio>
    <audio id="galleryMusic" preload="auto" loop src="/resources/gallery.ogg"></audio>
    <audio id="selectSfx" preload="auto" src="/resources/select.flac"></audio>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    
 <div class="bg-opacity-10  bg-gray-100 w-full">
    <nav class="flex justify-between">
        <div class="inline-flex">
            <a href="/"><img id="icon" src="https://vukkybox.com/resources/icon.png" class="max-h-20 m-2" title="Vukkybox Logo" /></a>
            <% if(username != "") { %>
              <p class="m-auto text-2xl text-bold"><%=user.balance %> Vukkybux</p>
            <% } %>
        </div>
        <ul class="flex flex-row p-10">
            <!-- <li class="pr-5"><a> Services </a></li>
            <li class="pr-5"><a>Porfolio</a></li>
            <li class="pr-5"><a>About</a></li> -->
            <li class="pr-10"><span id="share" onclick="navigator.share({'title': 'My gallery on Vukkybox!', 'url': 'https:/\/vukkybox.com/guestgallery/<%=user._id %>'});">Share Collection</a></li>
            <li class="pr-10"><a href="https://vukkybox.com/store">Storefront</a></li>
            <% if(username != "") { %>
              <div class="dropdown">
                
                <li class="pr-5"><a><%= username%></a></li>
                <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>" title="Profile Avatar"/></li>
                <div class="dropdown-content text-white">
                  <a class="text-white" href="https://vukkybox.com/profile">Profile</a>
                  <a class="text-white" href="https://vukkybox.com/gallery">Collection</a>
                  <a class="text-white" href="#" id="redeemCode">Redeem Code</a>
                  <a class="text-white" href="https://vukkybox.com/logout">Log Out</a>
                </div>
              </div>
            <% } else {%>
                <li><a href="https://vukkybox.com/login">Log In</a></li>
            <% } %>
              
        </ul>
    </nav>
</div>

<span class="text-bold text-2xl ml-5 mt-5" id="loading_data">Printing Vukkies...<img id="vukkyloadspinner" class="max-h-20 ml-5 my-2 inline-block" src="https://vukkybox.com/resources/pukkies/skelly.gif"><br><pre class="ml-5">Printed <span id="vukkyloadcount">0/0</span>: <span id="vukkyloadname">Sending requests...</span></pre><br><button id="loadskip" class="button button-blue ml-5" onclick="loadingdone()" style="display: none;">Skip</button><br></span>
<p class="text-bold text-2xl ml-5 mt-5" id="total_text" style="display: none;"><select style="color: black;" onchange="sortUpdate()">
    <option value="rarity">Sort by Rarity</option>
	<option value="ida">Sort by ID (Ascending)</option>
    <option value="idd">Sort by ID (Descending)</option>
    <option value="grav">Sort by Gravity</option>
</select><br><br></p>
<div id="collection" style="display: none;">
<div id="7">
    <p class="text-bold text-xl ml-5 mt-5" id="7_text">Unique (7 stars)</p>
    <p class="ml-5">Uniques are <b>unique</b> to the box they are in. They're the rarest type of Vukky in the game!</p>

</div>
<div id="6">
<p class="text-bold text-xl ml-5 mt-5" id="6_text">bukky (6 stars)</p>


</div>
<div id="5">
    <p class="text-bold text-xl ml-5 mt-5" id="5_text">Godly (5 stars)</p>


</div>
<div id="4">
    <p class="text-bold text-xl ml-5 mt-5" id="4_text">Mythical (4 stars)</p>


</div>
<div id="pukky">
    <p class="text-bold text-xl ml-5 mt-5" id="pukky_text">Pukky</p>
    <p class="ml-5">Pukkies can only be found in the Pukky Box.</p>


</div>
<div id="3">
    <p class="text-bold text-xl ml-5 mt-5" id="3_text">Rare (3 stars)</p>


</div>
<div id="2">
    <p class="text-bold text-xl ml-5 mt-5" id="2_text">Uncommon (2 stars)</p>


</div>
<div id="1">
    <p class="text-bold text-xl ml-5 mt-5" id="1_text">Common (1 star)</p>


</div>
</div>
<div id="idacollection" style="display: none;">

</div>
<div id="iddcollection" style="display: none;">

</div>
<p class="hidden" id="vukkiesjson"><%=JSON.stringify(vukkies) %></p>
</body>
<script>
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min; 
    }
    function getOffset(el) {
        const rect = el.getBoundingClientRect();
        return {
            left: rect.left + window.scrollX,
            top: rect.top + window.scrollY
        };
    }
    const moveFallingThing = (ele, acceleration, ground) => {
        let xPos = getRandomInt(0, 100);
        let velocity = acceleration; // speed at a point in time
        let positionY = getRandomInt(-500, 300); // where we are now
        const render = () => {
            positionY += velocity; // move our current position
            velocity += acceleration; // increment our speed
            if (getOffset(ele).top < ground) {
                ele.style.transform = `translateX(${xPos}vw) translateY(${Math.floor(positionY)}px)`;
                requestAnimationFrame(render);
            }
            
        };
        requestAnimationFrame(render);
    };
    let loaded = 0;
    let totalOwned = 0;
    let totalVukkies = <%=totalVukkies %>;
    function loadingdone() {
        document.querySelector("#loadingMusic").pause();
        if(totalOwned == totalVukkies) {
            document.querySelector("#galleryMusic").src = "/resources/gallerydone.ogg"
            confettiGun();
        }
        document.querySelector("#galleryMusic").play();
        document.querySelector("#loading_data").style.display = "none";
        document.querySelector("#collection").style.display = "";
        document.getElementById("total_text").style.display = "";
        document.querySelector(".clonedloader").forEach(function(node) {
            node.remove();
        })
    }
    function sortUpdate() {
        let selectedSort = document.querySelector("select").options[document.querySelector("select").selectedIndex].value;
        document.querySelector("#selectSfx").play();
        if(selectedSort == "rarity") {
            document.querySelector("#collection").style.display = "";
            document.querySelector("#idacollection").style.display = "none";
            document.querySelector("#iddcollection").style.display = "none";
        } else if (selectedSort == "ida") {
            document.querySelector("#collection").style.display = "none";
            document.querySelector("#idacollection").style.display = "";
            document.querySelector("#iddcollection").style.display = "none";
        } else if (selectedSort == "idd") {
            document.querySelector("#collection").style.display = "none";
            document.querySelector("#idacollection").style.display = "none";
            document.querySelector("#iddcollection").style.display = "";
        } else if (selectedSort == "grav") {
            document.getElementById("total_text").innerHTML = "Oh no! My Vukkies! HELP!";
            document.querySelectorAll("a[vukkyid]").forEach(function(node) {
                if(node.parentNode && node.parentNode.querySelector("p")) node.parentNode.querySelector("p").remove();
                node.style.position = "fixed";
                node.classList.add("duration-150")
                moveFallingThing(node, 0.5, document.documentElement.scrollHeight);
            })
        }
    }
    const userGallery = [<%=user.gallery %>]
    document.getElementById("total_text").innerHTML += "This user has " + userGallery.length + "/" + totalVukkies + " Vukkies, which are displayed below:"; // "unique" may be confused with the tier, so...
    const vukkies = JSON.parse(document.getElementById("vukkiesjson").innerHTML) // This is really hacky, i know. But i couldnt get it to work any other way
    for(let j = 1; j <= 7; j++) {
        let owned = 0
        for(let i = 0; i < Object.keys(vukkies[j]).length; i++) {
            if(userGallery.includes(parseInt(Object.keys(vukkies[j])[i]))) {
                owned++
                totalOwned++
                document.getElementById(j).innerHTML += `<a vukkyid="${Object.keys(vukkies[j])[i]}" href="https://vukkybox.com/view/${j}/${Object.keys(vukkies[j])[i]}"><img class="max-h-20 ml-5 my-2 inline-block" src="${vukkies[j][Object.keys(vukkies[j])[i]].url}" title="${vukkies[j][Object.keys(vukkies[j])[i]].name} (#${Object.keys(vukkies[j])[i]})"/></a>`
            }
        }
        if (owned == 0) {
            document.getElementById(j).remove()
        } else {
            document.getElementById(j + "_text").innerHTML += ` (${owned}/${Object.keys(vukkies[j]).length})`
            
        }
    }
    let owned = 0
        for(let i = 0; i < Object.keys(vukkies["pukky"]).length; i++) {
            if(userGallery.includes(parseInt(Object.keys(vukkies["pukky"])[i]))) {
                owned++
                totalOwned++
                document.getElementById("pukky").innerHTML += `<a vukkyid="${Object.keys(vukkies["pukky"])[i]}" href="https://vukkybox.com/view/pukky/${Object.keys(vukkies["pukky"])[i]}"><img class="max-h-20 ml-5 my-2 inline-block" src="${vukkies["pukky"][Object.keys(vukkies["pukky"])[i]].url}" title="${vukkies["pukky"][Object.keys(vukkies["pukky"])[i]].name} (#${Object.keys(vukkies["pukky"])[i]})"/></a>`
            }
        }
        if (owned == 0) {
            document.getElementById("pukky").remove()
        } else {
            document.getElementById("pukky_text").innerHTML += ` (${owned}/${Object.keys(vukkies["pukky"]).length})`
            
        }
    document.querySelector("#loadingMusic").play();
    // id collection sort
    Array.from(document.querySelectorAll("#collection a[vukkyid]")).sort(function(a, b) {
        if(parseInt(a.getAttribute("vukkyid")) < parseInt(b.getAttribute("vukkyid"))) return -1;
        if(parseInt(a.getAttribute("vukkyid")) > parseInt(b.getAttribute("vukkyid"))) return 1;
    }).forEach(function(vukky) {
        document.querySelector("#idacollection").innerHTML += vukky.outerHTML
    })
    Array.from(document.querySelectorAll("#collection a[vukkyid]")).sort(function(a, b) {
        if(parseInt(a.getAttribute("vukkyid")) > parseInt(b.getAttribute("vukkyid"))) return -1;
        if(parseInt(a.getAttribute("vukkyid")) < parseInt(b.getAttribute("vukkyid"))) return 1;
    }).forEach(function(vukky) {
        document.querySelector("#iddcollection").innerHTML += vukky.outerHTML
    })
    document.getElementById("vukkiesjson").innerHTML = "what are you looking for :eyes:"
    document.querySelector("#loadskip").style.display = "";
    window.addEventListener('load', loadingdone)
    document.querySelector("#vukkyloadcount").innerHTML = `0/${totalOwned}`;
    document.querySelectorAll("#collection img").forEach(function(coolimage) {
        coolimage.onload = function() {
            loaded++
            document.querySelector("#vukkyloadcount").innerHTML = `${loaded}/${totalOwned}`;
            document.querySelector("#vukkyloadname").innerHTML = coolimage.title;
            document.querySelector("#vukkyloadspinner").src = coolimage.src;
            let clonedLoader = document.querySelector("#vukkyloadspinner").cloneNode();
            clonedLoader.id = "";
            clonedLoader.classList.add("clonedloader");
            document.body.appendChild(clonedLoader);
            moveFallingThing(clonedLoader, 0.5, document.documentElement.scrollHeight);
            if(loaded == totalOwned) loadingdone();
        }
    })

    function confettiGun() {
        var count = 1000;
        var defaults = {
        origin: { y: 0.7 }
        };

        function fire(particleRatio, opts) {
        confetti(Object.assign({}, defaults, opts, {
            particleCount: Math.floor(count * particleRatio)
        }));
        }

        fire(0.25, {
        spread: 26,
        startVelocity: 55,
        });
        fire(0.2, {
        spread: 60,
        });
        fire(0.35, {
        spread: 100,
        decay: 0.91,
        scalar: 0.8
        });
        fire(0.1, {
        spread: 120,
        startVelocity: 25,
        decay: 0.92,
        scalar: 1.2
        });
        fire(0.1, {
        spread: 120,
        startVelocity: 45,
        });
    }
</script>
</html>