<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" id="randomizedFavicon" />
    <script src="https://kit.fontawesome.com/e28851c58c.js" crossorigin="anonymous"></script>
    <title>Skelly!</title>
</head>
<body class="bg-gray-800 text-white">
    
 <div class=" bg-gray-900  w-full">
    <nav class="flex justify-between">
        <div>
            <a href="/"><img id="vukmojiRandomization" class="max-h-10 m-2" /></a>
        </div>
        <script>
            let id = Math.floor(Math.random() * (39 - 1 + 1) + 1)
                    document.getElementById("vukmojiRandomization").src = `https://sivusto.tk/innervukky/${id}.png`;
                    document.getElementById("randomizedFavicon").href = `https://sivusto.tk/innervukky/${id}.png`;
        </script>
        <ul class="flex flex-row p-5">
            <!-- <li class="pr-5"><a> Services </a></li>
            <li class="pr-5"><a>Porfolio</a></li>
            <li class="pr-5"><a>About</a></li> -->
            <% if(username != "") { %>
              <div class="dropdown">
                
                <li class="pr-5"><a><%= username%></a></li>
                <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                <div class="dropdown-content text-white">
                  <a class="text-white" href="profile">Profile</a>
                  <a class="text-white" href="logout">Log Out</a>
                </div>
              </div>
            <% } else {%>
                <li><a href="/login">Log In</a></li>
            <% } %>
              
        </ul>
    </nav>
</div>
    <div class=" py-10 px-10 ">
    
        <img class="max-h-50 rounded float-left" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/>
        <div class="bg-gray-900 rounded-lg p-5">
            <div class="inline-block">
            <a href="/editProfile"><p class=" pl-5 hover:bg-gray-800"><%= username %><i class="fa pl-3 s fa-edit"></i></p></a> <br>
            <p class=" pl-5 text-gray-400"><%= primaryEmail %></p> <br>

            <% if(linkedAccounts.includes("github")) { %><i class="fab pl-5 fa-github"></i><% } if(linkedAccounts.includes("google")) { %><i class="fab pl-3 fa-google"></i><% } if(linkedAccounts.includes("twitter")) { %><i class="fab pl-3 fa-twitter"></i><% } if(linkedAccounts.includes("discord")) { %><i class="fab pl-3 fa-discord"></i><% } if(linkedAccounts.length == 4) { %><i class="fas pl-3 fa-plus-circle"></i> <% } %>
        </div>
        </div>
        
      </div>
</body>
</html>