<!DOCTYPE html>
<html lang="en" style="height:100%">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./resources/style.css" rel="stylesheet">
        <script src="./resources/spin.js"></script>
        <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
        <script src="https://kit.fontawesome.com/e28851c58c.js" crossorigin="anonymous"></script>
        <title>Vukkybox - Profile</title>
        <audio type="music" preload="auto" loop playOnLoad="true" src="/resources/menumusic.ogg"></audio>
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
		<%- include('common/navbar.ejs', {share: false, galleryShare: false, box: null}); %>
    <div class=" py-10 px-10 ">
      <img title="Edit your profile picture" class="max-h-50 rounded float-left px-5 py-5" style="cursor: pointer;" onclick="gravatarWarning()" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/>
      <div class="bg-opacity-30 bg-gray-100 rounded-lg p-5">
        <div class="inline-block">
          <a href="/editProfile" title="Edit your username"><p class=" pl-5 hover:bg-opacity-30 hover:bg-gray-900"><%= user.username %><i class="fa pl-3 s fa-edit"></i></p></a>
          <p title="This is your Vukkybox email address. You can't change it." class="pl-5 text-gray-200"><%= user.primaryEmail %></p> <br>

          <% if(user.LinkedAccounts.includes("github")) { %><i title="You've linked your Vukkybox account to GitHub!" class="fab pl-5 fa-github"></i><% } if(user.LinkedAccounts.includes("google")) { %><i title="You've linked your Vukkybox account to Google!" class="fab pl-3 fa-google"></i><% } if(user.LinkedAccounts.includes("twitter")) { %><i title="You've linked your Vukkybox account to Twitter!" class="fab pl-3 fa-twitter"></i><% } if(user.LinkedAccounts.includes("discord")) { %><i title="You've linked your Vukkybox account to Discord!" class="fab pl-3 fa-discord"></i><% } if(user.LinkedAccounts.length == 4) { %><i title="You've linked your Vukkybox account to more services..." class="fas pl-3 fa-plus-circle"></i> <% } %>
        </div>
      </div>
      <br>
      <!--- settings crap starts here lol -->
      <p class="text-bold text-2xl">Per-device settings</p>
      <p>You can hover over the checkboxes for more information, when available.</p><br>
      Add fall animation while gallery loads: <input type="checkbox" setting="fallLoad" onchange="toggleLocalSetting(event)" title='You can watch the loaded in Vukkies fall down, like in the "Sort by Gravity" option! This may result in lag on some devices.'><br>
      Enable "ka-ching" sound effect: <input type="checkbox" setting="kachingOn" default="true" onchange="toggleLocalSetting(event)" title='A "ka-ching!" sound effect will play when you click on purchase buttons in the Storefront and when buying another Vukky.'><br>
      Use fancy share menu instead of copying to clipboard: <input type="checkbox" setting="shareMenu" default="true" onchange="toggleLocalSetting(event)" title="When sharing your gallery and a Vukky pull, a fancy share menu will appear instead of copying to the clipboard. What this menu looks like depends on your operating system's implementation. Turn this off if you don't like it."><br>
      Add seasonal flair to pages: <input type="checkbox" setting="seasonalFlair" default="true" onchange="toggleLocalSetting(event)" title="On special days, the pages may look different! Turn this off if you don't like that very much."><br>
      <br><p class="text-bold text-xl">Audio</p>
      Music: <input type="range" step="0.01" min="0" max="1" value="1" setting="musicVolume" onchange="toggleLocalSetting(event)"><br>
      Sound effects: <input type="range" step="0.01" min="0" max="1" value="1" setting="sfxVolume" onchange="toggleLocalSetting(event)">
      </div>
      <%- include('common/footer.ejs'); %>
</body>
<script>
  function gravatarWarning() {
    if(confirm("Vukkybox uses Gravatar, a service by Automattic, for profile pictures. If you'd like to change your profile picture, you will need to go to Gravatar. Would you like to head there now?") == true) {
      window.open("https://gravatar.com/connect", "_blank")
    }
  }
  function toggleLocalSetting(e) {
    let audioEffectThing = new Audio('https://vukkybox.com/resources/select.flac');
    if(localStorage.getItem("sfxVolume")) audioEffectThing.volume = localStorage.getItem("sfxVolume");
    audioEffectThing.play();
    localStorage.setItem(e.target.getAttribute("setting"), e.target.type == "checkbox" ? e.target.checked : e.target.value)
    if(e.target.getAttribute("setting").includes("Volume") || e.target.getAttribute("setting") == "seasonalFlair") document.location.reload();
  }
  document.querySelectorAll("input[setting]").forEach(function(node) {
    if(node.type == "checkbox") {
      if(localStorage.getItem(node.getAttribute("setting")) == "true" || localStorage.getItem(node.getAttribute("setting")) == null && node.getAttribute("default") == "true") {
        node.checked = true;
      }
    } else if (localStorage.getItem(node.getAttribute("setting"))) {
      node.value = localStorage.getItem(node.getAttribute("setting"))
    }
  })
  if(!navigator.share) {
    document.querySelector("input[setting=shareMenu]").checked = false;
    document.querySelector("input[setting=shareMenu]").disabled = true;
    document.querySelector("input[setting=shareMenu]").title = "Your operating system does not support this feature.";
  }
</script>
</html>