<html class="home bg-gray-800">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://vukkybox.com/resources/style.css" rel="stylesheet">
        <script src="https://vukkybox.com/resources/spin.js"></script>
        <link rel="icon" href="https://vukkybox.com/resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox</title>
        <meta name="title" content="<%=JSON.parse(vukky).name %> (#<%=vukkyId %>)">
        <meta name="description" content="<%=JSON.parse(vukky).description %>">
        <meta property="og:image" content="<%=JSON.parse(vukky).url %>">
        <link rel="preload" href="/resources/unbox.wav" as="audio">
        <link rel="preload" href="/resources/unboxcommon.wav" as="audio">
        <link rel="preload" href="/resources/unboxrare.wav" as="audio">
        <link rel="preload" href="/resources/unboxunique.wav" as="audio">
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
        <audio src="/resources/unbox.wav"></audio>
        
 <div class="bg-opacity-10  bg-gray-100 w-full">
        <nav class="flex justify-between">
            <div class="inline-flex">
                <a href="/"><img id="icon" src="https://vukkybox.com/resources/icon.png" class="max-h-20 m-2" /></a>
                <% if(username != "") { %>
                  <p class="m-auto text-2xl text-bold"><%=user.balance %> Vukkybux</p>
                <% } %>
            </div>
            <ul class="flex flex-row p-10">
                <!-- <li class="pr-5"><a> Services </a></li>
                <li class="pr-5"><a>Porfolio</a></li>
                <li class="pr-5"><a>About</a></li> -->
                <% if(username != "") { %>
                  <div class="dropdown">
                    
                    <li class="pr-5"><a><%= username%></a></li>
                    <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                    <div class="dropdown-content text-white">
                      <a class="text-white" href="https://vukkybox.com/profile">Profile</a>
                      <a class="text-white" href="https://vukkybox.com/gallery">Collection</a>
                      <a class="text-white" href="https://vukkybox.com/logout">Log Out</a>
                    </div>
                  </div>
                <% } else {%>
                    <li><a href="https://vukkybox.com/login">Log In</a></li>
                <% } %>
                  
            </ul>
        </nav>
    </div>
        <center class="py-8">
            <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                
                <img class="m-auto" width="128" height="128" src="<%=JSON.parse(vukky).url %>"/>
                <p><%=JSON.parse(vukky).name %> (#<%=vukkyId %>)</p>
                <% if(parseInt(JSON.parse(level).level) == 8) { %>
                        <p style="color:<%=JSON.parse(level).color %>;"><%=JSON.parse(level).name %></p>
                    <% } else { %>
                        <p style="color:<%=JSON.parse(level).color %>;"><%=JSON.parse(level).name %> (<%=JSON.parse(level).level %> star)</p>
                    <% } %>
                <p><%=JSON.parse(vukky).description %></p>
                <br>
                <button class="button button-blue">Go back</button>
            </div>
        </center>
	</body>
    <script>
        document.querySelector("button").onclick = function() {
            history.back();
            setTimeout(() => {
                document.location.pathname = "/";
            }, 300);
        };
        const rarity = <%= parseInt(JSON.parse(level).level) %>;
        if(rarity >= 6) document.querySelector("audio").src = "/resources/unboxrare.wav"
        if(rarity == 7) document.querySelector("audio").src = "/resources/unboxunique.wav"
        if(rarity <= 2) document.querySelector("audio").src = "/resources/unboxcommon.wav"
        if(rarity == 8) document.querySelector("audio").src = "/resources/unbox.wav"
        document.querySelector("audio").play();
    </script>
</html>